<section>

  <h1>{{t 'accounts.users.change_password'}}</h1>
  <form class="form-horizontal" {{action 'save' on='submit'}}>
    <div {{bind-attr class=":form-group errors.cur_password:field-with-errors :pw-group"}}>
      <label class="control-label col-md-4">{{t 'accounts.users.cur_password'}}</label>
      <div class="col-md-8">
        {{input type='password' value=cur_password class="form-control cur_password_validation"}}
      </div>
    </div>
    <div {{bind-attr class=":form-group errors.password:field-with-errors :pw-group"}}>
      <label class="control-label col-md-4">{{t 'accounts.users.new_password'}}</label>
      <div class="col-md-8">
        {{input type='password' value=password class="form-control password_validation"}}
        <div class="progress pw-progress pw-change">
          <div {{bind-attr class=":progress-bar pwStrengthColor"}} role="progressbar" {{bind-attr style=pwStrength}}></div>
        </div>
      </div>
    </div>
    <div {{bind-attr class=":form-group errors.password_confirmation:field-with-errors :pw-group"}}>
      <label class="control-label col-md-4">{{t 'accounts.users.confirm_password'}}</label>
      <div class="col-md-8">
        {{input type='password' value=password_confirmation class="form-control password_confirmation_validation"}}
      </div>
    </div>
    <div class="align-right">
      <button type="submit" class="btn btn-primary">{{t 'save'}}</button>
    </div>
  </form>

</section>
