<section>

  <form class="form form-horizontal" {{action 'save' on='submit'}}>

    <div class="view-actions align-right">
      {{#link-to 'accounts.users' class='btn btn-transparent'}}
        <i class="fa fa-angle-left"></i>
        {{t 'back'}}
      {{/link-to}}
      <button class="btn btn-primary icon-text" {{action 'save'}}>
        {{t 'save'}}
      </button>
    </div>

    {{partial 'accounts/users/model_access'}}

  </form>

</section>
