<div {{bind-attr class=":form-group errors.email:field-with-errors"}}>
  <label class="col-md-4 control-label">{{t 'email'}}</label>
  <div class="col-md-8">
    {{input value=email class="form-control"}}
    <div {{bind-attr class=":help-block errors.email::hide"}}>{{errors.email}}</div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label">{{t 'language'}}</label>
  <div class="col-md-8">
    {{view Ember.Select2 value=settings.lang content=availableLangs search=false prompt=false}}
    <div class="help-block">{{t 'accounts.users.lang_help'}}</div>
  </div>
</div>
