<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' data-roadie-ignore>
<%= stylesheet_link_tag :mailer %>
<div class="main">
  <div class="logo-wrap">
    <a href="<%= @host_url %>"><img src="<%= @logo_url %>" class="logo" alt='caminio'></a>
  </div>
  <div class="content">
    <h1>Passwortr체cksetzung angefordert</h1>
    <p>Eine Passwortr체cksetzung wurde f체r deinen Account auf <strong>caminio</strong> angefordert. Diese kann mit einem Klick auf den folgenden Link erfolgen:</p>
    <div class="btn-wrap">
      <%= link_to t('reset_password'), @link, class: "btn" %>
    </div>
    <p>Der Link l채uft eine Stunde nach erhalt dieser Mail ab: (<%= 1.hour.from_now.strftime("%H:%M") %>)</p>
  </div>
</div>
