<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' data-roadie-ignore>
<%= stylesheet_link_tag :mailer %>
<div class="main">
  <div class="logo-wrap">
    <a href="<%= @host_url %>"><img src="<%= @logo_url %>" class="logo" alt='caminio'></a>
  </div>
  <div class="content">
    <h1>Passwortrücksetzung angefordert</h1>
    <p>Eine Passwortrücksetzung wurde für deinen Account auf <strong>caminio</strong> angefordert. Diese kann mit einem Klick auf den folgenden Link erfolgen:</p>
    <div class="btn-wrap">
      <%= link_to 'Passwort zurücksetzen', @link, class: "btn btn-primary btn-lg" %>
    </div>
    <p>Der Link läuft eine Stunde nach erhalt dieser Mail ab: (<%= 1.hour.from_now.strftime("%H:%M") %>)</p>
  </div>
</div>
