<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' data-roadie-ignore>
<%= stylesheet_link_tag :mailer %>
<div class="main">
  <div class="logo-wrap">
    <a href="<%= @base_url %>"><img src="<%= @base_url %>/favicon_blue.png"></a>
  </div>
  <div class="content">
    <h1>Hallo <%= @user.name %></h1>
    <p>Du hast auf den "Passwort vergessen"-Link geklickt. Mit dem untenstehenden Link kannst du dein Passwort für deinen Zugang auf <%= @site_name %> neu setzen</p>

    <div style="text-align: center">
      <a href="<%= @base_url %>/#/sessions/reset_password/<%= @user.id %>/<%= @user.confirmation_key %>" class="btn btn-primary">Klick hier zum Zurücksetzen</span>
    </div>

    <p>
    Falls du diese Aktion nicht ausgeführt hast, könnte jemand anderer versuchen, dein Konto zu hacken. Bitte wende dich in diesem Fall umgehend an den technischen Support <a href="mailto:support@tastenwerk.com">support@tastenwerk.com</a>
    </p>

    <p>
    Wir freuen uns auf die Zusammenarbeit<br>
    &nbsp;&nbsp;Das TASTENWERK Support Team
    </p>

  </div>
</div>
