<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' data-roadie-ignore>
<%= stylesheet_link_tag :mailer %>
<div class="main">
  <div class="logo-wrap">
    <a href="<%= @host_url %>"><img src="<%= @logo_url %>" class="logo" alt='caminio'></a>
  </div>
  <div class="content">
    <h1>Password reset request</h1>
    <p>You have requested to reset the password for your account on <strong>caminio</strong>. You can do so by clicking the link below:</p>
    <div class="btn-wrap">
      <%= link_to 'Reset my password', @link, class: "btn btn-primary btn-lg" %>
    </div>
    <p>The link above will expire in one hour from now (<%= 1.hour.from_now.strftime("%H:%M") %>)</p>
  </div>
</div>
