<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css' data-roadie-ignore>
<%= stylesheet_link_tag :mailer %>
<div class="main">
  <div class="logo-wrap">
    <a href="<%= @host_url %>"><img src="<%= @logo_url %>"></a>
  </div>
  <div class="content">
    <h1>Hallo!</h1>
    <p>Dein Konto auf caminio wurde soeben eröffnet. Vielleicht hast du bereits begonnen, dich umzusehen, vielleicht hast du auch ein paar Fragen. Anbei ein paar Tipps und Hinweise zur Verwendung von caminio.</p>
    <h2>Konto Einstellungen</h2>
    <ul>
      <li><a href="<%= @host_url %>/#accounts/index">Allgemeine Kontoeinstellungen</a></li>
      <li><a href="<%= @host_url %>/#sessions/forgot_password">Passwort zurücksetzen</a></li>
    </ul>

    <p>
    Falls du Hilfe bei der Anwendung brauchst, kannst du dich gerne mit uns in Verbindung setzen. Du erreichst uns unter: <a href="mailto:support@tastenwerk.com">support@tastenwerk.com</a>
    </p>

    <p>
    Wir freuen uns auf die Zusammenarbeit<br>
    &nbsp;&nbsp;Das TASTENWERK Support Team
    </p>

  </div>
</div>
