<link href='http://fonts.googleapis.com/css?family=PTSans' rel='stylesheet' type='text/css' data-roadie-ignore>
<%= stylesheet_link_tag :mailer %>
<div class="main">
  <div class="logo-wrap">
    <a href="<%= @host_url %>"><img src="<%= @logo_url %>"></a>
  </div>
  <div class="content">
    <h1>Hello!</h1>
    <p>Your Account on caminio was created.</p>
    <h2>Account settings</h2>
    <ul>
      <li><a href="<%= @host_url %>/#accounts/index">General settings</a></li>
      <li><a href="<%= @host_url %>/#sessions/forgot_password">Reset your password</a></li>
    </ul>

    <p>
    If you need any help with the application, please get in touch with us. You can reach us at support@tastenwerk.com
    </p>

    <p>
    We are glad you decided to test caminio
    &nbsp;&nbsp;the TASTENWERK Support Team
    </p>

  </div>
</div>
