<nav class="content-nav">
  <header class="app-header">
    <div class="app-btn-group start-again">
      <a href="#" {{action 'startTour'}}
        {{translateAttr data-hint='subscriptions.start_tour'}}
        class="hint--bottom hint--bounce">
        <i class="fa fa-question"></i>
      </a>
    </div>
    <div class="app-title">{{t 'subscriptions.title'}}</div>
  </header>

  <section>

    <table class="price-sum">
      {{#each plan in selectedPlans}}
        <tr>
          <td>{{plan.tr_app_name}} &raquo;{{plan.name}}&laquo;</td>
          <td></td>
          <td class="align-right">{{plan.formatted_total_value}}</td>
        </tr>
      {{/each}}
      <tr>
        <td>{{t 'users.title'}}</td>
        <td class="align-right">{{numUsers}}</td>
        <td class="align-right">{{formattedPriceNumUsers}}</td>
      </tr>
      <tfoot>
        <tr>
          <td>{{t 'sum'}}</td>
          <td></td>
          <td class="align-right">{{formattedSum}}</td>
        </tr>
        <tr>
          <td>{{t 'vat'}}</td>
          <td>{{formattedTaxRate}}</td>
          <td class="align-right">{{formattedTaxRateSum}}</td>
        </tr>
        <tr>
          <td>{{t 'total'}}</td>
          <td></td>
          <td class="align-right">{{formattedTotal}}</td>
        </tr>
      </tfoot>
    </table>

    <div class="save-plan">

      {{#if hasChanges}}
        <button {{action 'save'}} {{bind-attr class=":btn hasChanges:btn-primary:btn-default"}}>
          <i class="fa fa-shopping-cart"></i>
          {{t 'subscription.checkout'}}
        </button>
      {{else}}
        <span class="desc">{{t 'subscription.no_changes'}}</span>
      {{/if}}
    </div>

  </section>

</nav>

<section class="content default-padding">

  {{#each app in availableApps}}

    <div class="app-plan-title">
      <h2>{{app.tr_name}}</h2>
    </div>

    <div class="app-plans">
      {{#each plan in app.plans itemController='app_plan_item'}}
        <div {{bind-attr class=":app-plan :w-border controller.isCurrent:active"}} {{action 'selectPlan' plan}}>
          <h3>{{plan.title}}</h3>
          <div class="price">
            {{{controller.price}}}
          </div>
          <ul>
          {{#each feature in plan.features}}
            <li>{{{feature}}}</li>
          {{/each}}
          </ul>
        </div>
      {{/each}}
    </div>
  {{/each}}
{{!-- 
  <div class="app-plan-title">
    <h3 class="num-users"><span id="users-preview"></span> {{t 'users.title'}}</h3>
    <div class="num-users-sub">{{t 'users.select_amount' pricePerUserBinding='formattedPricePerUser'}}</div>
  </div>
  
  <div class="slider noUi-connect slider-primary users-slider"></div>
 --}}
</section>