<section class="content-panel-section">

  <div class="page-ctrl contacts-ctrl">
    <div class="title">
      {{t 'accounts.api.title'}}
    </div>

    <div class="btn-group">
      <button class="btn btn-primary" {{translateAttr title='accounts.api.generate_new'}} {{action 'new'}}>
        <i class="fa fa-plus"></i>
      </button>
    </div>

  </div>

  <div class="default-margin-top">
    {{#unless content}}
    <div class="alert alert-info">{{t 'accounts.api.desc'}}</div>
    {{/unless}}
    <ul class="list">
      {{#each content}}
      <li {{action 'openModal' 'accounts/edit_api' controller this}} class="all-click">
      <div class="title">{{name}}</div>
      <div class="desc" style="font-size: 8px"><tt>{{access_token}}</tt></div>
      <small class="desc">{{t 'created_at'}}: {{formatDate created_at}}</small>
      </li>
      {{/each}}
    </ul>
  </div>

</section>
