{{#caminio-modal title='accounts.api.edit' close='closeModal'}}
<div class="modal-body">
  <form class="form" {{action 'save' modalContent on='submit'}}>
    <input type="submit" class="hide">
    <div class="form-group">
      <label>{{t 'accounts.api.name'}}</label>
      {{input value=modalContent.name class="form-control"}}
    </div>
    <div class="form-group">
      <label>{{t 'accounts.api.key'}}</label>
      {{input value=modalContent.access_token class="form-control" disabled=true}}
    </div>
  </form>
</div>
<div class="modal-footer align-right">
  <button class="pull-left btn btn-default btn-highlight-danger" {{action 'delete' modalContent}}>
    {{t 'accounts.api.delete'}}
  </button>
  <button class="btn btn-primary" {{action 'save' modalContent}}>
    {{t 'save'}}
  </button>
</div>
{{/caminio-modal}}
