<section>
  <form class="form-horizontal" {{action 'save' on='submit'}}>
    <table class="table">
      <thead>
        <tr>
          <th>{{t 'accounts.plan.app_name'}}</th>
          <th>{{t 'accounts.plan.name'}}</th>
          <th>{{t 'accounts.plan.collaborators'}}</th>
          <th>{{t 'accounts.plan.quota'}}</th>
          <th>{{t 'accounts.plan.access'}}</th>
          <th>{{t 'accounts.plan.price'}}</th>
        </tr>
      </thead>
      <tbody>
      {{#each apps}}
      <tr>
        <td>{{name}}</td>
        <td>plans</td>
        <td>
          <div class="progress">
            <div class="progress-bar" {{bind-attr style=usersQuota}}>
              {{collaborators}} / {{users_amount}}
            </div>
          </div>
        </td>
        <td></td>
        <td></td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </form>
</section>
