{{#if controllers.application.currentUser.superuser}}
  {{partial 'accounts/organizations'}}
{{/if}}

<div class="settings-menu">
  {{#link-to 'users.index'}}
    <i class="fa fa-user"></i>
    {{t 'users.title'}}
  {{/link-to}}
  {{#link-to 'groups.index'}}
    <i class="fa fa-group"></i>
    {{t 'groups.title'}}
  {{/link-to}}
  {{#link-to 'organizations.edit' controllers.application.currentUser.organization.id}}
    <i class="fa fa-building"></i>
    {{t 'organization.my'}}
  {{/link-to}}
  {{#link-to 'subscriptions.manage'}}
    <i class="fa fa-money"></i>
    {{t 'subscriptions.title'}}
  {{/link-to}}
</div>

<div class="col-md-6">
  {{partial 'accounts/users'}}  
</div>

<div class="col-md-6">
  {{partial 'accounts/groups'}}  
</div>
