<section>

  <div class="view-actions align-right">
    <button class="btn btn-primary" {{action 'addUser'}} {{translateAttr title='accounts.users.add'}}>
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <ul class="list">
    {{#each content}}
    <li>
      <div class="desc pull-right">
        {{smartDate last_login_at}}
      </div>
      <div>
        <img class="account-image pull-left" {{bind-attr src=avatar_thumb}}>
        <strong>{{email}}</strong>
      </div>
      <div class="btn-group pull-right">
        <button class="btn btn-default btn-xs btn-highlight-danger" {{action 'uninviteUser' this}} {{translateAttr title='accounts.users.uninvite'}}>
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="desc">
        {{firstname}} {{lastname}}
        {{#if nickname}}({{nickname}}){{/if}}
        &nbsp;
      </div>
    </li>
    {{/each}}
  </ul>

</section>
