<section>

  <div class="view-actions align-right">
    <button class="btn btn-primary" {{action 'addUser'}} {{translateAttr title='accounts.users.add'}}>
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <div class="access-legend">
    <span class="desc">{{t 'accounts.legend'}}: </span>
    <button class="btn btn-pale"><i class="fa fa-home"></i></button>
    <span class="desc">{{t 'accounts.access.none'}}</span>
    <button class="btn btn-default"><i class="fa fa-home"></i></button>
    <span class="desc">{{t 'accounts.access.read'}}</span>
    <button class="btn btn-black"><i class="fa fa-home"></i></button>
    <span class="desc">{{t 'accounts.access.write'}}</span>
    <button class="btn btn-danger"><i class="fa fa-home"></i></button>
    <span class="desc">{{t 'accounts.access.delete'}}</span>
  </div>

  <ul class="list">
    {{#each user in content itemController='user_item'}}
    <li>
      <div class="desc pull-right">
        {{smartDate user.last_login_at}}
      </div>
      <div>
        <img class="account-image pull-left" {{bind-attr src=user.avatar_thumb}}>
        <strong>{{user.email}}</strong>
      </div>
      <div class="btn-group pull-right">
        <button class="btn btn-default btn-xs btn-highlight-danger" {{action 'uninviteUser' user}} {{translateAttr title='accounts.users.uninvite'}}>
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="desc">
        {{user.firstname}} {{user.lastname}}
        {{#if user.nickname}}({{user.nickname}}){{/if}}
        &nbsp;
      </div>
      <div class="desc access-rules">
        {{#each app_plan in App.currentOu.app_plans itemController='user_app_access_item'}}
        <button {{bind-attr class=":btn :btn-xs controller.appAccessColor"}} {{action 'toggleAppAccess' user app_plan.app}} {{bind-attr title=app_plan.app.name}}>
          <i {{bind-attr class=":fa app_plan.app.icon"}}></i>
        </button>
        {{/each}}
      </div>
    </li>
    {{/each}}
  </ul>

</section>
