<aside class="card">

  <div class="card-nav-wrap">

    <nav class="card-nav">
      <a href="#comments" data-select-first="1">{{t 'comments.title'}}</a>
      <a href="#activities">{{t 'activities.title'}}</a>
    </nav>

    <div id="comments" class="content-box comments-box">
      {{#if addComment}}
        <form {{action 'saveComment' on='submit'}}>
          {{textarea placeholderTranslation='comments.add' value=comment}}
          <div class="form-ctrl">
            <button type="submit" class="btn btn-primary">{{t 'add'}}</button>
          </div>
        </form>
      {{else}}
        <div class="comment-fakebox">
          {{t 'comments.add'}}
        </div>
      {{/if}}
    </div>

    <div id="activities">
      activities
    </div>

  </div>

</aside>