<div class="menu-pane">
  <div class="inside-wrap">
    {{#link-to 'groups.members' content class="btn btn-back"}}
      <i class="fa fa-arrow-left"></i>
    {{/link-to}}
    <h1>{{t 'group.add_member'}}</h1>
  </div>
</div>

<div class="main-wrap">
  <div class="overview-wrap">
    <div class="overview-main overview-main-centered">

      <section class="card settings card-padding">

        <form class="form-horizontal" {{action 'add' on='submit'}}>
          <div {{bind-attr class=":form-group errors.name:field-with-errors"}}>
            <label class="control-label col-md-4">{{t 'user.search'}}</label>
            <div class="col-md-8">
              {{view 'typeahead'
                class="form-control js-get-focus"
                source="/users?simple=1&q=%QUERY"
                optionValuePath="email"
                valueBinding="email"}}
            </div>
          </div>

          <div class="form-actions">
            {{#link-to 'groups.members' content class="btn btn-default"}}{{t 'cancel'}}{{/link-to}}
            <button class="btn btn-primary" {{action 'add'}}>{{t 'group.add_user'}}</button>
          </div>
        </form>

      </section>
    </div>
  </div>
</div>