
<header class="caminio-modal-ctrl row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 align-center">
    <div class="breadcrumbs">
      {{#link-to 'groups.index'}}
        <i class="fa fa-group"></i>
        {{t 'groups.title'}}
      {{/link-to}}
      <i class="fa fa-angle-right"></i>
      {{t 'groups.new'}}
    </div>
  </div>
  <div class="col-md-4 align-right">

    <div class="dropdown btn btn-actions">
      <button class="dropdown-toggle" data-toggle="dropdown">{{t 'actions'}}<i class="fa fa-angle-down"></i></button>
      <ul class="dropdown-menu pull-right align-right">
        <li><a href="#" {{action 'delete'}}>{{t 'group.delete'}}</a></li>
      </ul>
    </div>

    <a href="#" class="btn btn-close" {{action 'goTo' 'groups.index'}}>
      &times;
    </a>
  </div>
</header>

<div class="caminio-modal-overlay">

  <div class="caminio-modal-wrap">

    <section class="card">

      {{click-edit-text value=group.name content=group placeholder='user.not_set' label='name' parentController=controller}}

      {{click-edit-color value=group.color content=controllers.application.availableColors placeholder='user.not_set' label='color' parentController=controller}}

    </section>

    <aside class="card">

      <h2>comments</h2>

    </aside>

  </div>

</div>
