<section class="account-admin groups">

  <ul class="list list-header">
    <li>
    <div class="list-icon"></div>
    <div class="list-title">{{t 'name'}}</div>
    <div class="list-col">{{t 'group.members'}}</div>
    <div class="list-date">{{t 'created_at'}}</div>
    <div class="list-actions"></div>
    </li>
  </ul>
  <ul class="list">
    {{#each group in content}}
    <li>
    <div class="list-icon">
      <label {{bind-attr style='group.groupColor'}}>
        <i class="fa fa-group"></i>
      </label>
    </div>
    <div class="list-title">{{group.name}}</div>
    <div class="list-col">{{t 'group.num_members' countBinding='group.users.length'}}</div>
    <div class="list-date">{{formatDate group.created_at}}</div>
    <div class="list-actions dropdown">
      <button class="btn btn-pale dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
      <ul class="dropdown-menu dropdown-menu-grey pull-right">
        <li>{{#link-to 'groups.edit' group}}{{t 'group.edit'}}{{/link-to}}</li>
        <li>{{#link-to 'groups.members' group}}{{t 'group.edit_members'}}{{/link-to}}</li>
        <li><a class="hover-danger" href="#" {{action 'deleteGroup' group}}>{{t 'group.delete'}}</a></li>
      </ul>
    </div>
    </li>
    {{/each}}
  </div>
</section>