<section class="account-admin users">

  <ul class="list list-header">
    <li>
    <div class="list-icon"></div>
    <div class="list-title">{{t 'name'}}</div>
    <div class="list-date">{{t 'created_at'}}</div>
    <div class="list-actions"></div>
    </li>
  </ul>
  <ul class="list">
    {{#each user in users}}
    <li {{bind-attr class="user.suspended:suspended"}}>
    <div class="list-icon">
      <label {{bind-attr class=':label user.admin:label-danger user.editor:label-warning:label-default'}}>
        <i class="fa fa-user"></i>
      </label>
    </div>
    <div class="list-title">{{user.name}}</div>
    <div class="list-date">{{formatDate user.created_at}}</div>
    <div class="list-actions dropdown">
      <button class="btn btn-pale dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
      <ul class="dropdown-menu dropdown-menu-grey pull-right">
        <li>{{#link-to 'users.edit' user}}{{t 'account.edit'}}{{/link-to}}</li>
        <li>
          <a href="#" class="hover-danger" {{action 'removeUser' user}}>{{t 'user.unsubscribe_from_group'}}</a>
        </li>
      </ul>
    </div>
    </li>
    {{/each}}
  </div>
</section>