<header class="caminio-modal-ctrl row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 align-center">
    <div class="breadcrumbs">
      {{#link-to 'groups.index'}}
        <i class="fa fa-user"></i>
        {{t 'groups.title'}}
      {{/link-to}}
      <i class="fa fa-angle-right"></i>
      {{t 'groups.new'}}
    </div>
  </div>
  <div class="col-md-4 align-right">
    <a href="#" class="btn btn-close" {{action 'goTo' 'users.index'}}>
      &times;
    </a>
  </div>
</header>

<div class="caminio-modal-overlay">

  <div class="caminio-modal-wrap">

    <section class="card">

      {{click-edit-text value=group.name content=group placeholder='user.not_set' label='name' parentController=controller}}

    </section>

    <aside class="card">

      <h2>comments</h2>

    </aside>

  </div>

  <div class="save-ctrl align-right card">
    {{#link-to 'users.index' class="btn btn-default"}}{{t 'cancel'}}{{/link-to}}
    <button class="btn btn-primary" {{action 'save' true}}>{{t 'save'}}</button>
  </div>

</div>
