<section class="card settings card-padding">

  <form class="form-horizontal" {{action 'create' on='submit'}}>
    <div {{bind-attr class=":form-group errors.name:field-with-errors"}}>
      <label class="control-label col-md-4">{{t 'organization.name'}}</label>
      <div class="col-md-8">
        {{input value=name class="form-control js-get-focus"}}
      </div>
    </div>

    <div class="form-actions">
      {{#link-to 'accounts.admin' class="btn btn-default"}}{{t 'cancel'}}{{/link-to}}
      <button class="btn btn-primary" {{action 'create'}}>{{t 'save'}}</button>
    </div>
  </form>

</section>