<div class="adv-table-wrap">

  <div class="adv-table-overview">
    <div class="total">{{curRowsMin}} &ndash; {{curRowsMax}} ({{t 'table.rows' count=totalRows}})</div>
  </div>

  <div class="adv-table-actions">

    <a href="#" class="action-btn hint--bottom hint--bounce" {{translateAttr data-hint='table.start_tour'}}>
      <i class="fa fa-question"></i>
    </a>

    <a href="#" class="action-btn hint--bottom hint--bounce" {{translateAttr data-hint='col_setup'}}>
      <i class="fa fa-cog"></i>
    </a>

    <a href="#" class="action-btn hint--bottom hint--bounce" {{translateAttr data-hint='filter'}}>
      <i class="fa fa-filter"></i>
    </a>

    <div class="action-btn hint--bottom hint--bounce" {{translateAttr data-hint='sort'}}>
      <a href="#" class="toggle-dropdown" data-toggle='dropdown'>
        <i class="fa fa-sort-alpha-asc"></i>
      </a>
      <ul class="dropdown-menu">
        {{#each column in controller.columns}}
          <li>
            <a href="#" {{action 'sortBy' column.name}}>{{column.name}}</a>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="action-btn rows-selected">
      {{#if selectedRows.length}}
        <span>{{t 'table.rows_selected' count=selectedRows.length}}</span>
        <button class="btn btn-xs btn-delete" {{action 'deleteSelectedRows'}}><i class="fa fa-trash"></i>{{t 'delete'}}</button>
      {{/if}}
    </div>

  </div>

  <table class="adv-table">
    <thead>
      <tr>
        <th class="row-index"></th>
        {{#if tableRowIcons}}
        <th class="adv-table-icon">
          <div {{bind-attr class=":select-all-label someRowsSelected:selected allRowsSelected:all-selected :hint--right :hint--bounce"}} {{translateAttr data-hint='table.select_unselect_all_rows'}} {{action 'toggleAllRows'}}>
            <i class="fa fa-check"></i>
          </div>
        </th>
        {{/if}}
      {{#each column in controller.columns itemController='advanced_table_header_item'}}
        <th {{bind-attr class=controller.cssHeaderClasses}}
             {{bind-attr style=controller.cssHeaderStyles}}>
             {{controller.getTitleTranslation}}
        </th>
      {{/each}}
      {{#unless isInlineEditable}}
        <th class="dropdown-actions"></th>
      {{/unless}}
      </tr>
    </thead>
    <tbody>
      {{#if loading}}
        <div class="loading"><i class="fa fa-refresh fa-spin"></i></div>
      {{/if}}
      {{#each row in rows itemController='advanced_table_row_item'}}
        <tr {{bind-attr class='controller.selected:selected row.isEditing:is-editing'}}
            {{action 'editRow'}}>
          <td class="row-index">
            <div>{{controller.rowIndex}}</div>
          </td>
          {{#if tableRowIcons}}
          <td class="adv-table-icon">
            {{#if row.isEditing}}
              <div class="icon-label-actions-wrap">
                <div class="icon-label cancel-icon-label hint--bottom hint--bounce"
                  {{action 'cancelEdit' bubbles=false}}
                  {{translateAttr data-hint='table.cancel_edit'}}>
                  <i class="fa fa-times"></i>
                </div> 
                <div class="icon-label delete-icon-label hint--bottom hint--bounce"
                  {{action 'deleteRow' bubbles=false}}
                  {{translateAttr data-hint='table.delete_row'}}>
                  <i class="fa fa-trash"></i>
                </div> 
                <div class="icon-label hint--bottom save-icon-label" 
                  {{action 'saveRow' bubbles=false}}
                  {{translateAttr data-hint='table.click_here_to_save'}}>
                  <i class="fa fa-check"></i>
                </div>
              </div>
            {{else}}
              <div class="icon-label hint--right hint--bounce" 
                {{action 'selectRow' bubbles=false}} 
                {{translateAttr data-hint='table.select_unselect_row'}}>
                  <i {{bind-attr class=':app-icon'}}></i>
                  <i class="checked-icon fa fa-check"></i>
              </div>
            {{/if}}
          </td>
          {{/if}}
          {{#each column in columns itemController='advanced_table_column_item'}}
            <td {{bind-attr class=controller.cssClasses}} {{bind-attr style=controller.cssStyles}}>
              {{#if isInlineEditable}}
                <div class="form">
                  {{input value=controller.editValue}}
                </div>  
              {{/if}}
              <div {{bind-attr class=":default controller.valCssClasses"}}>
                {{{controller.value}}}
              </div>
            </td>
          {{/each}}
          {{#unless isInlineEditable}}
          <td class="dropdown-actions">
            <div class="dropdown">
              <button class="btn btn-options dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-angle-down"></i>
              </button>
              <ul class="dropdown-menu pull-right">
                {{#each rowAction in rowActions}}
                  <li>
                    <a href="#" {{action 'sendControllerAction' rowAction.action bubbles=false}}>{{t rowAction.key}}</a>
                  </li>
                {{/each}}
                <li>
                  <a href="#" class="highlight-danger" {{action 'deleteRow' bubbles=false}}>{{t 'delete'}}</a>
                </li>
              </ul>
            </div>
          </td>
          {{/unless}}
        </tr>
      {{/each}}
    </tbody>
    {{#if footer}}
      <tfoot>
        <tr>
          <th></th>
          {{#each col in footer itemController='advanced_table_footer_item'}}
            <th {{bind-attr class=controller.cssHeaderClasses}}>{{controller.calculatedValue}}</th>
          {{/each}}
          <th></th>
        </tr>
      </tfoot>
    {{/if}}
  </table>

  {{#unless loading}}
  <nav class="adv-table-pagination">
    <ul class="pagination">
      <li {{bind-attr class='firstPage:disabled'}}>
        <a href="#" {{action 'goToPage' 'previous'}}><i class="fa fa-angle-left"></i></a>
      </li>
      {{#each p in totalPages itemController='advanced_table_pagination_item'}}
        <li {{bind-attr class='controller.isCurrentPage:active'}}>
          <a href="#" {{action 'goToPage' p.content}}>{{p.content}}</a>
        </li>
      {{/each}}
      <li {{bind-attr class='lastPage:disabled'}}>
        <a href="#" {{action 'goToPage' 'next'}}><i class="fa fa-angle-right"></i></a>
      </li>
    </ul>
  </nav>
  {{/unless}}

</div>