<div class="card-nav-wrap">

  <nav class="card-nav grey-header">
    <a href="#comments" data-select-first="1">{{t 'comments.title'}}</a>
    <a href="#activities">{{t 'activities.title'}}</a>
  </nav>

  <div id="comments">

    <ul class="comments-list">
      {{#each comment in comments itemController='comment_item'}}
        <li class="comment-item">
          <div class="commenter-img">
            {{#if comment.created_by.avatar}}
              <img {{bind-attr src=comment.created_by.imgStr}}>
            {{else}}
              <div class="default">
                <i class="glyphicon glyphicon-user"></i>
              </div>
            {{/if}}
          </div>
          <div class="comment-content">
            <div class="commenter-name">
              {{comment.created_by.name}}
            </div>
            <div class="comment-time">
              {{formatDate comment.updated_at}}
            </div>
            <div class="comment-text">
              {{{comment.formattedContent}}}
            </div>
            <div class="action-btns">
              <button class="btn btn-xs btn-link hint--left hint--bounce" {{action 'delete'}} {{bind-attr data-hint='comment.delete'}}>
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>

    <div class="comments-form-wrap">
      <form {{action 'saveCurComment' on='submit'}} {{bind-attr class='newComment::hide'}}>
        {{textarea placeholderTranslation='comments.add' value=curComment.content}}
        <div class="form-ctrl">
          <a href="#" class="btn btn-link" {{action 'toggleNewComment'}}>
            {{t 'cancel'}}
          </a>
          <button type="submit" class="btn btn-primary">{{t 'add'}}</button>
        </div>
      </form>
      <div {{bind-attr class=":comments-fakebox newComment:hide"}} {{action 'toggleNewComment'}}>
        {{t 'comments.add'}}
      </div>
    </div>

  </div>

  <div id="activities">
    
    <ul class="comments-list">
      
      <li class="comment-item">
        <div class="commenter-img">
          {{#if content.created_by.avatar}}
            <img {{bind-attr src=content.created_by.imgStr}}>
          {{else}}
            <div class="default">
              <i class="glyphicon glyphicon-user"></i>
            </div>
          {{/if}}
        </div>
        <div class="comment-content">
          <div class="commenter-name">
            {{content.created_by.name}}
          </div>
          <div class="comment-time">
            {{formatDate content.created_at}}
          </div>
          <div class="comment-text">
            <i class="fa fa-asterisk"></i>
            {{t 'created_this'}}
          </div>
        </div>

      </li>

      {{#if updatedDiffersCreated}}
        <li class="comment-item">
          <div class="commenter-img">
            {{#if content.updated_by.avatar}}
              <img {{bind-attr src=content.updated_by.imgStr}}>
            {{else}}
              <div class="default">
                <i class="glyphicon glyphicon-user"></i>
              </div>
            {{/if}}
          </div>
          <div class="comment-content">
            <div class="commenter-name">
              {{content.updated_by.name}}
            </div>
            <div class="comment-time">
              {{formatDate content.updated_at}}
            </div>
            <div class="comment-text">
              <i class="fa fa-refresh"></i>
              {{t 'updated_this'}}
            </div>
          </div>
        </li>
      {{/if}}

    </ul>

  </div>

</div>