<form class="form-horizontal" {{action 'saveChanges' on='submit'}}>
  <div class="form-group">
    <label class="control-label col-md-4">{{labelTranslation}}</label>
    <div class="col-md-8">
      {{#if editValue}}
      <div class="input-group">
        {{input value=value class="form-control"}}
        <div {{action 'saveChanges'}} {{bind-attr class=":input-group-addon :btn hasChanges:btn-primary:btn-default"}}>
          {{t 'save'}}
        </div>
        <div class="input-group-addon btn btn-default cancel-edit" {{action 'cancelEdit'}} {{translateAttr title='cancel_edit_entry'}}>&times;</div>
      </div>
      {{else}}
      <span class="form-control" {{action 'edit'}} {{translateAttr title='edit_entry'}}>{{value}}</span>
      <div {{bind-attr class=":value-saved :label :label-success valueSaved:active"}}>{{t 'entry_saved'}}</div>
      {{/if}}
    </div>
  </div>
</form>
