<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>

<title><%= Rails.application.config.site.name %></title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag 'caminio' %>
  <link rel="shortcut icon" href="/favicon.ico" />

  <script type="text/javascript">
    window.APP_NAME = '<%= Rails.application.config.site.name %>';
    window.APP_LINK = '<%= Rails.application.config.site.link %>';
    window.CAMINIO_ENGINE_VERSION = '<%= Caminio::VERSION %>';
    window.CAMINIO_SHOW_OPEN_REG_LINK = <%= Rails.application.config.caminio.open_registration_link || false %>;
  </script>
  <%= javascript_include_tag 'caminio-3rd' %>
  <%= javascript_include_tag 'caminio' %>

</head>

<body class="authorization-required">
</body>

</html>
