<header class="caminio-modal-ctrl row">
  <div class="col-md-8">
    <div class="breadcrumbs">
      {{#link-to 'api_keys.index'}}
        <i class="fa fa-key"></i>
        {{t 'api_keys.title'}}
      {{/link-to}}
      <i class="fa fa-angle-right"></i>
      {{t 'api_key.edit'}}
    </div>
  </div>
  <div class="col-md-4 align-right">

    <div class="dropdown btn btn-actions">

      <button class="dropdown-toggle" data-toggle="dropdown">{{t 'actions'}}<i class="fa fa-angle-down"></i></button>
      <ul class="dropdown-menu pull-right align-right">
        <li><a href="#" {{action 'delete'}}>{{t 'delete'}}</a></li>
      </ul>
    </div>

    <a href="#" class="btn btn-close" {{action 'goTo' 'api_keys.index'}}>
      &times;
    </a>
  </div>
</header>

<div class="caminio-modal-overlay">

  <div class="caminio-modal-wrap">

    <section class="card">

      {{partial 'api_keys/form'}}

    </section>

    <aside class="card">

      <h2>commen</h2>

    </aside>

  </div>
  
</div>