{{#caminio-modal title='labels.edit' close='closeModal' width='400px'}}
<div class="modal-body accounts-modal">

  <form class="form-horizontal" {{action 'saveLabel' on='submit'}}>

    <input type="submit" class="hide">
    <div class="form-group">
      <label class="control-label col-md-4">{{t 'label.name'}}</label>
      <div class="col-md-8">
        {{input value=label.name class="form-control js-get-focus"}}
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-md-4">
        {{t 'label.colors'}}
      </div>
      <div class="col-md-8">
        <table class="fill-width">
          <tr>
            <td>{{t 'label.foreground'}}</td>
            <td>{{t 'label.background'}}</td>
            <td>{{t 'label.border'}}</td>
          </tr>
          <tr>
            <td>
              {{view Ember.ColorSelector value=label.fgcolor}}
            </td>
            <td>
              {{view Ember.ColorSelector value=label.bgcolor}}
            </td>
            <td>
              {{view Ember.ColorSelector value=label.bdcolor}}
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-md-4">{{t 'label.color'}}</label>
      <div class="col-md-8">
        <label class="label color-preview-label pull-left" {{bind-attr style=label.styles}}>{{label.name}}</label>
      </div>
    </div>

  </form>

</div>

<div class="modal-footer">

  <button class="btn pull-left btn-default btn-highlight-danger" {{action 'deleteLabel'}}>
    {{t 'label.delete'}}
  </button>
  <button class="btn pull-right btn-success" {{action 'saveLabel'}}>
    {{t 'labels.save'}}
  </button>

</div>

{{/caminio-modal}}
