extends ../unauth

block content

  form#login(action=resolvePath('v1/auth','login'), method='post')
    input(type='hidden', name='_csrf', value=csrf)
    .field-box
      label=t('username_email')
      input(type='text', name='username',tabindex=1)
    .field-box
      label=t('password')
      input(type='password', name='password', tabindex=2)

    .control
      button.float-right(tabindex=3)
        =t('login')
        i(class='fa fa-arrow-right')
      button.forgot-password-btn(title=t('forgot_password'), class='tooltip', tabindex=4)
        i(class='fa fa-question')
      input(type='submit', style='display:none')

block next_content

  #forgot-box.unauth-box.slide-away.hide

    img.caminio-logo(src='/images/logo.png')
    .unauth-content-block

      form#forgot-password-form(action='reset_password', method='post')
        
        p.desc=t('remember_your_email')

        .field-box
          label=t('enter_email')
          input(type='text', name='email', tabindex=5)
  
        .control
          button.float-right(tabindex=6)
            =t('request_link')
            i(class='fa fa-envelope')
          input(type='submit', style='display:none')
          button.forgot-password-btn(title=t('back_to_login'), class='tooltip', tabindex=7)
            i(class='fa fa-arrow-left')

append header
  script(type='text/javascript').
    jQuery( function($){
      $('.forgot-password-btn').on('click', function(e){
        e.preventDefault();
        if( $('#main-box').is(':visible') ){
          $('#main-box').addClass('slide-away');
          $('#forgot-box').show();
          setTimeout( function(){
            $('#forgot-box').removeClass('slide-away');
          }, 10);
          setTimeout( function(){
            $('#main-box').hide();
            $('#forgot-box input[type=text]:first').focus();
          }, 500);
        } else {
          $('#forgot-box').addClass('slide-away');
          $('#main-box').show();
          setTimeout( function(){
            $('#main-box').removeClass('slide-away');
          }, 10);
          setTimeout( function(){
            $('#forgot-box').hide();
            $('#main-box input[type=text]:first').focus();
          }, 500);
        }
      });
      $('#main-box input[type=text]:first').focus();
    })

