<div class="top-nav">
  <div class="apps-list pull-left dropdown">
    <div class="apps-list-trigger" data-toggle="dropdown">
      <div class="caminio-img"></div>
    </div>
    <div class="dropdown-menu" role="menu">
      {{#each availableApps itemController="app"}}
      <a {{bind-attr href=appPath}}>
        <i {{bind-attr class=":fa content.icon"}}></i>
        <span>{{nameTranslation}}</span>
      </a>
      {{/each}}
    </div>
  </div>
  <div class="account-info pull-right dropdown">
    <img class="account-image pull-right hint--bottom" {{translateAttr data-hint="account_settings"}} {{bind-attr src=currentUser.avatar_thumb}} data-toggle="dropdown">
    <div class="account-name">
      <span class="account-name-small">{{currentUser.name_or_email}}</span>
      <br>
      <span>{{currentOu.name}}</span>
    </div>
    <div class="dropdown-menu" role="menu">
      <img class="account-image-big pull-left" {{bind-attr src="currentUser.avatar_thumb"}}>
      <div class="account-info-details">
        <span class="account-name-big">{{currentUser.name}}</span>
        <br>
        <span class="account-email">{{currentUser.email}}</span>
        <br>
        <br>
        {{#link-to 'accounts' class='btn btn-primary'}}
        {{t 'edit_account'}}
        {{/link-to}}
        <br><br>
        {{#link-to 'accounts.users.change_password' currentUser.id}}{{t 'accounts.users.change_password'}}{{/link-to}} |
        {{#link-to 'sessions.logout'}}
        {{t 'logout'}}
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
