<div class="login-box">
  <div class="login-logo-wrap">
    <div class="login-logo"></div>
  </div>
  <form {{action 'login' on='submit'}}>

    {{#if errorMessage}}
    <div class="alert alert-danger">{{{errorMessage}}}</div>
    {{else}}
    <div class="alert"></div>
    {{/if}}

    <div class="form-group">
      {{input value=login class="form-control" autocapitalize="off" autocorrect="off" placeholderTranslation="email_or_username"}}
    </div>

    <div class="form-group">
      {{input value=password class="form-control" type="password" placeholderTranslation="password"}}
      {{#link-to 'sessions.forgot_password' class="forgot-password"}}
        {{t 'forgot_password'}}?
      {{/link-to}}
    </div>

    <div class="form-group align-right">
      <button class="btn btn-success" type="submit">
        {{t 'login'}}
      </button>
      <div class="controls">
      </div>
    </div>

  </form>
</div>
