<form {{action 'save' on='submit'}}>

  <div {{bind-attr class=":form-group errors.password:field-with-errors :pw-group"}}>
    {{input value=password class="form-control" type="password" placeholderTranslation="password"}}
    <div class="progress pw-progress">
      <div {{bind-attr class=":progress-bar pwStrengthColor"}} role="progressbar" {{bind-attr style=pwStrength}}></div>
    </div>
  </div>

  <div class="form-group align-right">
    {{#link-to 'sessions.new' class="cancel"}}
    {{t 'cancel'}}
    {{/link-to}}
    <button class="btn btn-success" type="submit">
      {{t 'reset_password_and_login'}}
    </button>
  </div>

</form>
