{{#if isAuthenticated}}
  <div {{bind-attr class=":top-pane currentUser.superuser:superuser"}}>
    <div class="clearfix">
      <a href="#" class="logo pull-left">
        {{appName}}
      </a>
      <div class="round-btn dropdown-toggle account-btn hint--left default-img" data-toggle="dropdown" 
          {{bind-attr data-hint='currentUser.name'}}>
        <img src="/images/user_default_32x32.png">
      </div>
      <ul class="dropdown-menu pull-right">
        <li>{{#link-to 'accounts.mine'}}{{t 'account.mine'}}{{/link-to}}</li>
        <li><a href="#" {{action 'logout'}}>{{t 'logout'}}</a></li>
      </ul>
      {{#if newBtnLink}}
        {{#link-to newBtnLink class='new-btn round-btn hint--left' hintBinding='newBtnLinkHint'}}
        <i class="fa fa-plus"></i>
        {{/link-to}}
      {{/if}}
      <form class="round-btn search-btn">
        <i class="fa fa-search"></i>
        {{input valueBinding='searchQuery' placeholderTranslation='search_for'}}
      </form>
    </div>

    <div class="route-title">
      {{routeTitle}}
    </div>

  </div>

  <div class="side-pane">
    {{#if backLink}}
      {{#link-to backLink class="btn-back"}}
        <i class="fa fa-arrow-left"></i>
      {{/link-to}}
    {{else}}
      <button class="toggle-sidebar hint--right hint--bounce" data-hint="toggle-sidebar">
        <i class="fa fa-bars"></i>
      </button>
      {{#each app in currentUser.apps}}
        {{#link-to app.link class="hint--right hint--bounce" hint=app.title}}
          <i {{bind-attr class=':fa app.icon'}}></i>
        {{/link-to}}
      {{/each}}
      {{#if currentUser.admin}}
        {{#link-to 'accounts.admin' class='hint--right hin--bounce' hint='account.administration'}}
          <i class="fa fa-cogs"></i>
        {{/link-to}}
      {{/if}}
    {{/if}}
  </div>
  
{{/if}}

<div class="main-wrap">
    <div class="col-md-8">
      {{outlet}}
    </div>
</div>