{{#if isAuthenticated}}
  <div {{bind-attr class=":top-pane currentUser.superuser:superuser"}}>
    <div class="clearfix">
      <a href="#" class="logo pull-left">
        {{appName}}
      </a>
      <div class="round-btn dropdown-toggle account-btn hint--left default-img" data-toggle="dropdown" 
          {{bind-attr data-hint='currentUser.name'}}>
        <img src="/images/user_default_32x32.png">
      </div>
      <ul class="dropdown-menu pull-right">
        <li>{{#link-to 'accounts.mine'}}{{t 'account.mine'}}{{/link-to}}</li>
        <li><a href="#" {{action 'logout'}}>{{t 'logout'}}</a></li>
      </ul>
      {{#if newBtnLink}}
        {{#link-to newBtnLink class='new-btn round-btn hint--left' hintBinding='newBtnLinkHint'}}
        <i class="fa fa-plus"></i>
        {{/link-to}}
      {{/if}}
      <form class="round-btn search-btn">
        <i class="fa fa-search"></i>
        {{input valueBinding='searchQuery' placeholderTranslation='search_for'}}
      </form>
    </div>

    <div class="route-title">
      {{routeTitle}}
    </div>

  </div>
{{/if}}
{{outlet}}
