<div {{bind-attr class="sidePaneOpen:side-pane-open"}}>

  {{#if isAuthenticated}}
    <div {{bind-attr class=":top-pane currentUser.superuser:superuser accountInfoOpen:account-info-open"}}>

      <div class="toggle-side-pane hint--bottom hint--bounce" 
        {{translateAttr data-hint="search_app"}}
        {{action 'toggleSidePane' bubbles=false}}>
        {{#if controller.sidePaneOpen}}
          <i class="fa fa-times"></i>
        {{else}}
          <i class="fa fa-bars"></i>
        {{/if}}
        {{input value=searchQuery id="search-query" placeholderTranslation='search_dots'}}
      </div>

      <div class="app-name-and-pricing">
        <a {{bind-attr href=appLink}}>
          <img src="/favicon.png">
          {{appName}}
        </a>
      </div>

      <div class="account-info-toggle" {{action 'toggleAccountInfo'}}>
        <i class="glyphicon glyphicon-user"></i>
        <i class="fa fa-angle-down"></i>
      </div>
      <div class="account-info">
        <div class="section user-main-info">
          <img src="/images/user_default_32x32.png">
          {{currentUser.name}}
        </div>
        <div class="section">
          {{#link-to 'accounts.mine' class='link-item'}}{{t 'account.edit_mine'}}{{/link-to}}
          {{#link-to 'subscriptions.manage' class='link-item'}}{{t 'subscriptions.title'}}{{/link-to}}
        </div>
        <div class="section">
          {{#link-to 'sessions.logout' class='link-item'}}{{t 'logout'}}{{/link-to}}
        </div>
      </div>

    </div>

    <div class="side-pane">
      <h3>{{t 'apps'}}</h3>
      <div class="results">
        {{#link-to 'index' class="side-pane-link"}}
          <i class="fa fa-home"></i>
          {{t 'dashboard.title'}}
        {{/link-to}}
        {{#each app in currentUser.apps}}
          {{#link-to app.link class="side-pane-link"}}
            <i {{bind-attr class=':fa app.icon'}}></i>
          {{/link-to}}
        {{/each}}
        {{#if currentUser.admin}}
          {{#link-to 'accounts.admin' class='side-pane-link'}}
            <i class="fa fa-cogs"></i>
            {{t 'administration'}}
          {{/link-to}}
        {{/if}}
      </div>
    </div>

  {{/if}}

  <div {{bind-attr class="isAuthenticated:main-wrap"}}>
    {{outlet}}
  </div>

</div>