<button class="image-gallery-override-close btn btn-pale" {{action 'toggleEdit'}}>&times;</button>
<div class="row">

  <div class="col-md-8 image-gallery-content-pane">
    <img {{bind-attr src=curEditingImg.file_original}} class="main">
  </div>

  <div class="col-md-4 image-gallery-info-pane">
    <form class="form" {{action 'save' on='submit'}}>
      <div class="form-field">
        <label>{{t 'image_gallery.filename'}}</label>
        {{input value=curEditingImg.file_file_name}}
      </div>
      <div class="form-field">
        <label>{{t 'image_gallery.dimensions'}}</label><br>
        {{curEditingImg.width}} x {{curEditingImg.height}} px
      </div>
      <div class="form-field">
        <label>{{t 'image_gallery.size'}}</label><br>
        {{curEditingImg.humanFileSize}}
      </div>
      <div class="form-field">
        <label>{{t 'image_gallery.content_type'}}</label><br>
        {{curEditingImg.file_content_type}}
      </div>
      <div class="form-field">
        <label>{{t 'image_gallery.copyright'}}</label>
        {{input value=curEditingImg.copyright}}
      </div>
      <div class="form-field">
        <label>{{t 'image_gallery.description'}}</label>
        {{textarea value=curEditingImg.description}}
      </div>
      <button class="btn default-margin-top" {{action 'save'}}>{{t 'save'}}</button>
    </form>
  </div>

</div>
