<div class="modal-dialog">
  <div {{bind-attr class=":modal-content filteredOptions.length::create-new"}}>
    <header class="modal-header clearfix">
      <form {{bind-attr class='noFilterNoText:hint--always noFilterNoText:hint--bottom:hide--hint'}}
            {{translateAttr data-hint='enter_name_to_create_new'}}
            {{action 'searchOrCreate' on='submit'}}>
        {{#if filteredOptions.length}}
          <button class="filter-input-addon">
            <i class="fa fa-search"></i>
          </button>
        {{else}}
          <button class="filter-input-addon">
            <i class="fa fa-bookmark"></i>
          </button>
          {{#if filter}}
          <button class="btn btn-primary pull-right create-btn hint--bottom hint--always" 
                {{translateAttr data-hint='click_to_create_item'}} type='submit'>
            <i class="fa fa-plus"></i>{{t 'create'}}
          </button>
          {{/if}}
        {{/if}}
        {{input value=filter placeholderTranslation=selectReferenceTrKey class='filter-reference js-get-focus' autocomplete='off' autocorrect='off' autocapitalize='off'}}
      </form>
      <button class="close" data-dismiss='modal'>&times;</button>
    </header>
    <section class="modal-body">
      <ul class="select-options">
      {{#each option in filteredOptions itemController='select_reference_item'}}
        <li {{bind-attr class='controller.isActive:active'}}
            {{action 'select' option}}>
          <div class="check-wrap">
            {{#if controller.isActive}}
              <i class="fa fa-check"></i>
            {{else}}
              <i class="spacer"></i>
            {{/if}}
          </div>
          <div class="select-content-wrap">
            <div class="title">{{controller.getTitle}}</div>
            <div class="subtitle">{{controller.getSubtitle}}</div>
          </div>
          <div class="visit-reference hint--left hint--bounce" 
              {{translateAttr data-hint='edit_details'}}
              {{action 'editDetails' option bubbles=false}}>
            <i class="fa fa-angle-right"></i>
          </div>
        </li>
      {{/each}}
      </ul>
      {{#unless filteredOptions.length}}
        <div class="creating-new-desc">{{t 'no_results_found_creating_new'}}</div>
      {{/unless}}
    </section>
    <footer class="modal-footer">
    </footer>
  </div>
</div>