<div class="modal-dialog">
  <div class="modal-content">
    <header class="modal-header">
      <button class="close" data-dismiss='modal'>&times;</button>
      {{t 'select_country'}}
    </header>
    <section class="modal-body">
      <ul class="select-options">
      {{#each country in countries itemController='select_option_item'}}
        <li {{bind-attr class='controller.isActive:active'}}
            {{action 'select' country}}>
          {{#if controller.isActive}}
            <i class="fa fa-check"></i>
          {{else}}
            <i class="spacer"></i>
          {{/if}}
          {{country.name}}
        </li>
      {{/each}}
      </ul>
    </section>
    <footer class="modal-footer">
    </footer>
  </div>
</div>