<div class="dropdown">
  <div class="dropdown-toggle-wrap">
    <span class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"></span>
    <ul class="dropdown-menu">
      <li>
      <a {{action 'parentController.editRecord' this}}>{{t 'edit'}}</a>
      </li>
      <li>
      <a {{action 'parentController.removeRecord' this}}>{{t 'delete'}}</a>
      </li>
    </ul>
    <div class="row-checkbox" {{action 'isSelected' true}}>
      {{#if isSelected}}
      <span class="fa fa-check"></span>
      {{/if}}
    </div>
  </div>
</div>
