<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' data-roadie-ignore>
<%= stylesheet_link_tag :mailer %>
<div class="main">
  <div class="logo-wrap">
    <%= link_to image_tag('logo_128x128.png', class: 'logo', alt: 'caminio'), 'https://camin.io' %>
  </div>
  <div class="content">
    <p><strong>Hallo <%=@user.name %> </strong></p>

    <p> <%=@creator.name %> hat dir eine Nachricht geschickt: </p>
    <p> <strong> <%=@message.title %> </strong> </p>
    <p> <%=@message.content %> </p>

    <div class="btn-wrap">
      <%= link_to t('reply'), @link, class: "btn btn-large btn-primary" %>
      <%= link_to t('show_history'), @link %>
    </div>

  </div>
</div>