<header class="caminio-modal-ctrl row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 align-center">
    <div class="breadcrumbs">
      {{#link-to 'users.index'}}
        <i class="fa fa-user"></i>
        {{t 'users.title'}}
      {{/link-to}}
      <i class="fa fa-angle-right"></i>
      {{t 'users.edit'}}
    </div>
  </div>
  <div class="col-md-4 align-right">
    <div class="dropdown btn btn-actions">
      <button class="dropdown-toggle" data-toggle="dropdown">{{t 'actions'}}<i class="fa fa-angle-down"></i></button>
      <ul class="dropdown-menu pull-right align-right">
        <li>
          <a href="#" {{action 'toggleSuspended'}}>
            {{#if user.suspended}}
            {{t 'user.activate_login'}}
            {{else}}
            {{t 'user.suspend_login'}}
            {{/if}}
          </a>
        </li>
        <li><a href="#" {{action 'delete'}}>{{t 'user.delete'}}</a></li>
      </ul>
    </div>
    <a href="#" class="btn btn-close" {{action 'closeModal' 'users.index'}}>
      &times;
    </a>
  </div>
</header>

<div class="caminio-modal-overlay">

  <div class="caminio-modal-wrap">

    <section class="card">

      <div class="field-row">
        <div class="field-label">
          {{t 'user.status'}}
        </div>
        <div class="field-content">
          <div class="labels">
            <label {{bind-attr class=":btn user.suspended:btn-default:btn-primary"}}>
              {{t 'user.active'}}
            </label>
            <label {{bind-attr class=":btn user.suspended:btn-warning:btn-default"}}>
              {{t 'user.suspended'}}
            </label>
          </div>
        </div>
      </div>


      <div class="vspacer"></div>

      {{click-edit-text value=user.username content=user placeholderKey='user.not_set' label='alias' parentController=controller}}
      {{click-edit-text value=user.fullName content=user placeholderKey='user.not_set' label='user.name' parentController=controller}}
      {{click-edit-text value=user.email content=user placeholderKey='user.not_set' label='email' parentController=controller}}
      {{click-edit-text value=user.phone content=user placeholderKey='user.not_set' label='phone' parentController=controller}}

      {{#unless controller.isNotCurrent}}
        <div class="vspacer"></div>

        <div class="field-row">
          <div class="field-label">
            {{t 'password'}}
          </div>
          <div class="field-content w-cursor" {{action 'openMiniModal' 'users/change_password_modal'}}>
            <span>{{t 'user.change_password'}}</span>
          </div>
        </div>
      {{/unless}}

      <div class="vspacer"></div>
      
      {{click-edit-select modalHeader='select_language' value=user.locale content=controllers.sessions.availableLocales label='user.language' parentController=controller}}

      <div class="vspacer"></div>

        {{#if controller.isAdminNotCurrent}}
          {{click-edit-radio value=user.role_name content=user.availableRoleNames label='user.role' parentController=controller}}
        {{else}}
          <div class="field-row">
            <div class="field-label">
              {{t 'user.role'}}
            </div>
            <div class="field-content">
              <span>{{user.tr_role_name}}</span>
            </div>
          </div>
        {{/if}}

      {{#if controllers.application.currentUser.superuser}}

        <div class="vspacer"></div>

        {{click-edit-text textarea=true value=user.settingsStr content=user placeholderKey='user.not_set' label='account.settings' parentController=controller}}

      {{/if}}

    </section>

    <aside class="card">

      <h2>comments</h2>

    </aside>

  </div>

</div>



{{!-- <section class="card settings">
  <h1>{{t 'user.general'}}</h1>
  <div class="click-form">
    {{click-edit-text value=username label='alias' parentController=controller}}
    {{click-edit-text value=firstname label='firstname' parentController=controller}}
    {{click-edit-text value=lastname label='lastname' parentController=controller}}

    <div class="ember-view visible-overflow">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-4">{{t 'user.language'}}</label>
          <div class="col-md-8">
            {{view 'selectize-simple-array'
                classes="form-control"
                promptTranslation="select_language"
                contentBinding="controller.controllers.sessions.availableLocales"
                optionLabelPath='content.label'
                optionValuePath='content.value'
                valueBinding='locale'}}
          </div>
        </div>
      </form>
    </div>

  </div>
</section>

<section class="card card-margin-top settings">
  <h1>{{t 'account.contact_info'}}</h2>
  <div class="click-form form-horizontal">
    {{click-edit-text value=email label='email' parentController=controller}}
    {{click-edit-text value=phone label='phone' parentController=controller}}
  </div>
</section>

<section class="card card-margin-top settings">
  <h1>{{t 'account.administration'}}</h2>

  <div class="click-form">

    <div class="ember-view visible-overflow">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-4">{{t 'user.role'}}</label>
          <div class="col-md-8">
            {{view 'selectize-simple-array'
                  classes="form-control"
                  promptTranslation="user.select_role"
                  contentBinding="controller.controllers.sessions.availableRoles"
                  optionLabelPath='content.label'
                  optionValuePath='content.value'
                  valueBinding='role_name'}}
          </div>
        </div>
      </form>
    </div>
    
    <div class="ember-view">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-4">{{t 'user.activity_status'}}</label>
          <div class="col-md-8">
            <div class="form-control btn-group" {{action 'toggleSuspended'}}>
              <span {{bind-attr class=':btn suspended:btn-danger:btn-default'}}>
              {{t 'user.suspended'}}
              </span>
              <span {{bind-attr class=':btn suspended:btn-default:btn-success'}}>
              {{t 'user.active'}}
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="ember-view">
      <form class="form-horizontal">
        <div class="form-group">
          <label class="control-label col-md-4">{{t 'user.delete'}}</label>
          <div class="col-md-8">
            <span class="form-control btn btn-danger btn-delete" {{action 'delete'}}>
            {{t 'user.delete_permanently'}}
            </span>
          </div>
        </div>
      </form>
    </div>

  </div>

</section>

{{#if controllers.application.currentUser.superuser}}
  <section class="card card-margin-top settings">
    <h1>{{t 'account.settings'}}</h2>

    <div class="click-form">

      <div class="ember-view visible-overflow">
        <form class="form-horizontal">
          <div class="form-group">
            {{textarea value=settingsStr class="form-control settings-area"}}
          </div>
          <button class="btn" {{action 'save'}}>{{t 'save'}}</button>
        </form>
      </div>
      
    </div>
  </section>
{{/if}} --}}