<div class="menu-pane">
  <div class="inside-wrap">
    {{#link-to 'users.index' class="btn btn-back"}}
      <i class="fa fa-arrow-left"></i>
    {{/link-to}}
    <h1>{{t 'user.edit'}}</h1>
  </div>
</div>

<div class="main-wrap">
  <div class="overview-wrap">
    <div class="overview-main overview-main-centered">

      <section class="card settings">
        <h1>{{t 'user.general'}}</h1>
        <div class="click-form">
          {{click-edit-form value=username label='alias' parentController=controller}}
          {{click-edit-form value=firstname label='firstname' parentController=controller}}
          {{click-edit-form value=lastname label='lastname' parentController=controller}}

          <div class="ember-view visible-overflow">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-md-4">{{t 'user.language'}}</label>
                <div class="col-md-8">
                  {{view 'selectize-simple-array'
                      classes="form-control"
                      promptTranslation="select_language"
                      contentBinding="controller.controllers.sessions.availableLocales"
                      optionLabelPath='content.label'
                      optionValuePath='content.value'
                      valueBinding='locale'}}
                </div>
              </div>
            </form>
          </div>

        </div>
      </section>

      <section class="card card-margin-top settings">
        <h1>{{t 'account.contact_info'}}</h2>
        <div class="click-form form-horizontal">
          {{click-edit-form value=email label='email' parentController=controller}}
          {{click-edit-form value=phone label='phone' parentController=controller}}
        </div>
      </section>

      <section class="card card-margin-top settings">
        <h1>{{t 'account.administration'}}</h2>

        <div class="click-form">

          <div class="ember-view visible-overflow">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-md-4">{{t 'user.role'}}</label>
                <div class="col-md-8">
                  {{view 'selectize-simple-array'
                        classes="form-control"
                        promptTranslation="user.select_role"
                        contentBinding="controller.controllers.sessions.availableRoles"
                        optionLabelPath='content.label'
                        optionValuePath='content.value'
                        valueBinding='role_name'}}
                </div>
              </div>
            </form>
          </div>
          
          <div class="ember-view">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-md-4">{{t 'user.activity_status'}}</label>
                <div class="col-md-8">
                  <div class="form-control btn-group" {{action 'toggleSuspended'}}>
                    <span {{bind-attr class=':btn suspended:btn-danger:btn-default'}}>
                    {{t 'user.suspended'}}
                    </span>
                    <span {{bind-attr class=':btn suspended:btn-default:btn-success'}}>
                    {{t 'user.active'}}
                    </span>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="ember-view">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="control-label col-md-4">{{t 'user.delete'}}</label>
                <div class="col-md-8">
                  <span class="form-control btn btn-danger btn-delete" {{action 'delete'}}>
                  {{t 'user.delete_permanently'}}
                  </span>
                </div>
              </div>
            </form>
          </div>

        </div>
      </section>

    </div>
  </div>
</div>