<div class="menu-pane">
  <div class="inside-wrap">
    {{#link-to 'accounts.admin' class="btn btn-back"}}
      <i class="fa fa-arrow-left"></i>
    {{/link-to}}
    <h1>{{t 'users.title'}}</h1>
  </div>
</div>

<div class="main-wrap">
  <div class="overview-wrap">
    <div class="overview-main overview-main-centered">

      <section class="users">

        <div class="heading">
          {{#link-to 'users.new' class="btn btn-primary btn-large new-btn" titleTranslation='account.create_account'}}
            <span class="fa fa-plus"></span>
          {{/link-to}}
        </div>

        <ul class="list list-header">
          <li>
          <div class="list-icon"></div>
          <div class="list-title">{{t 'name'}}</div>
          <div class="list-date">{{t 'created_at'}}</div>
          <div class="list-actions"></div>
          </li>
        </ul>
        <ul class="list">
          {{#each user in content}}
          <li>
          <div class="list-icon">
            <label {{bind-attr class=':label user.admin:label-danger user.editor:label-warning:label-default'}}>
              <i class="fa fa-user"></i>
            </label>
          </div>
          <div class="list-title">{{user.name}}</div>
          <div class="list-date">{{formatDate user.created_at}}</div>
          <div class="list-actions dropdown">
            <button class="btn btn-pale dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
            <ul class="dropdown-menu dropdown-menu-grey pull-right">
              <li><a href="#">{{t 'account.edit'}}</a></li>
              <li><a href="#" class="hover-danger">{{t 'account.suspend_login'}}</a></li>
            </ul>
          </div>
          </li>
          {{/each}}
        </div>
      </section>
    </div>
  </div>
</div>