<nav class="content-nav">
  <header class="app-header">
    <div class="app-btn-group">
      <a href="#" {{action 'toggleFollow' 'users'}}
        {{translateAttr data-hint='users.follow'}}
        class="hint--bottom hint--bounce">
        <i class="fa fa-rss"></i>
      </a>
    </div>
    <div class="app-title">{{t 'users.title'}}</div>
  </header>

  <section>

    {{#link-to 'users.new' class='btn btn-default btn-sm icon-text'}}
      <i class="fa fa-plus"></i>
      {{t 'users.new'}}
    {{/link-to}}

    <hr>

    <div {{bind-attr class=":search filter:active"}}>
      <i class="fa fa-search"></i>
      {{#if filter}}<i class="fa fa-times" {{action 'clearFilter'}}></i>{{/if}}
      {{input value=filter placeholderTranslation='user.search'}}
    </div>
  </section>

</nav>

<section class="content">

  <ul class="list list-header">
    <li>
    <div class="list-icon"></div>
    <div class="list-title">{{t 'name'}}</div>
    <div class="list-date">{{t 'created_at'}}</div>
    <div class="list-actions"></div>
    </li>
  </ul>
  <ul class="list">
    {{#each user in filteredContent}}
    <li {{bind-attr class="user.suspended:suspended"}} {{action 'editUser' user}}>
    <div class="list-icon">
      <label {{bind-attr class=':label user.admin:label-danger user.editor:label-warning:label-default'}}>
        <i class="fa fa-user"></i>
      </label>
    </div>
    <div class="list-title">{{user.name}}</div>
    <div class="list-date">{{formatDate user.created_at}}</div>{{!-- 
    <div class="list-actions dropdown">
      <button class="btn btn-pale dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
      <ul class="dropdown-menu dropdown-menu-grey pull-right">
        <li>{{#link-to 'users.edit' user bubble=false}}{{t 'account.edit'}}{{/link-to}}</li>
        <li>
          <a href="#" class="hover-danger" {{action 'toggleSuspended' user bubble=false}}>{{t 'account.suspend_login'}}</a>
        </li>
      </ul>
    </div> --}}
    </li>
    {{/each}}
  </div>
</section>
