<section class="card card-padding card-form">

  <form class="form-horizontal" {{action 'create' on='submit'}}>
    <div class="form-group">
      <label class="control-label col-md-4">{{t 'firstname'}}</label>
      <div class="col-md-8">
        {{input value=firstname class="form-control"}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">{{t 'lastname'}}</label>
      <div class="col-md-8">
        {{input value=lastname class="form-control"}}
      </div>
    </div>
    <div {{bind-attr class=":form-group errors.email:field-with-errors"}}>
      <label class="control-label col-md-4">{{t 'email'}}</label>
      <div class="col-md-8">
        {{input value=email class="form-control"}}
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-4">{{t 'user.language'}}</label>  
      <div class="col-md-8">
        {{view 'selectize-simple-array'
            classes="form-control"
            promptTranslation="select_language"
            contentBinding="controller.controllers.sessions.availableLocales"
            optionLabelPath='content.label'
            optionValuePath='content.value'
            valueBinding='locale'}}
      </div>
    </div>

    <div class="form-actions">
      {{#link-to 'accounts.admin' class="btn btn-default"}}{{t 'cancel'}}{{/link-to}}
      <button class="btn btn-primary" {{action 'create'}}>{{t 'save'}}</button>
    </div>
  </form>

</section>