<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>

<title><%= Caminio.config.site.name %></title>
  <meta charset="utf-8">
  <%= stylesheet_tag 'caminio' %>
  <link rel="shortcut icon" href="/favicon.ico" />

  <script type="text/javascript">
    window.CENTRY_ENGINE_VERSION = '<%= Caminio::VERSION %>';
    window.LANG = '<%= I18n.locale %>';
  </script>
  <%= javascript_tag 'caminio' %>

</head>

<body class="authorization-required">
</body>

</html>
