<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <title>caminio workplace</title>
  <%= stylesheet_link_tag    'caminio', media: 'all' %>
  <%= javascript_include_tag 'caminio' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
